---
import Layout from '../layouts/Layout.astro';
---

<Layout title="about">
	<main>
		<h1>about me</h1>
		<p>
			salutations, i'm froppii! i'm a highschooler from indonesia! i spend most of my time coding random projects that comes into my mind, fun ones!
		</p>

		<p>
			here are some things i like/about me(anything really)!:
			<ul>
				<li>i'm 17 years old</li>
				<li>likes to walk. if walking is possible why take other methods of transport :3</li>
				<li>fascinated by transit systems all over the world</li>
				<li>i make games sometimes (using godot)</li>
				<li>watching long documentaries</li>
				<li>mountains( > beaches)</li>
				<li>moss + rocks</li>
				<li>all the different forms of art!</li>
			</ul>
		</p>

		<p>
			feel free to reach out to me via the <a href="/contact">contact</a> page if you wanna chat!
		</p>

		<p>
			
		</p>

		<p>
			
		</p>
	</main>
</Layout>
