---
import StopIndicator from '../components/StopIndicator.astro';
import StopSign from '../components/StopSign.astro';
import HeaderRow from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Buttons from '../components/Buttons.astro';

const stops = [
	{ path: "/", title: "1st Avenue Station", logo: "/logos/home.svg" },
	{ path: "/about", title: "Local 2 St Station", logo: "/logos/about.svg" },
	{ path: "/projects", title: "Works Boulevard Station", logo: "/logos/projects.svg" },
	{ path: "/blog", title: "Journal Road Station", logo: "/logos/blog.svg" },
	{ path: "/contact", title: "Exchange Avenue Station", logo: "/logos/ftrain.svg" }
];

const currentPath = Astro.url.pathname;
const currentStop = stops.find(s => s.path === currentPath) ?? stops[0];
---

<Layout title="contact">
	<HeaderRow slot="header">
		<div slot="left">
			<StopSign 
				title={currentStop.title}
				logo={currentStop.logo}
			/>
		</div>

		<StopIndicator
			slot="center"
  			stops={["/contact", "/home", "/about", "/projects", "/blog"]}
			links={["/contact", "/", "/about", "/projects", "/blog"]}
			current={Astro.url.pathname}
		/>
	</HeaderRow>
	<div class="title-header"><h1>contact</h1></div>
	<p>
		email: <a href="mailto:darlenewu1310@gmail.com">darlenewu1310@gmail.com</a> 
		<br />
		signal: <a href="https://signal.me/#u/froppii.05">froppii.05</a>
		<br />
		discord: <a href="https://discord.com/users/745100230919192636">froppiiii</a>
	</p>
</Layout>

