---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import StopIndicator from '../components/StopIndicator.astro';
import Window from '../components/Window.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<StopIndicator
  			stops={["/", "/about", "/projects", "/blog", "/contact"]}
			links={["/", "/about", "/projects", "/blog/index", "/contact"]}
  			current={Astro.url.pathname}
		/>
		<main>
			<h1>froppii</h1>
			<p>
				hi im darlene! i mainly go as froppii but you might also know me as frosty and many more! im a 17 y/o from indonesia. in my spare time, you can find me making games, coding sites, doing art, and jamming to music.
			</p>
		</main>
		<Footer />
	</body>
</html>
