---
import StopIndicator from '../components/StopIndicator.astro';
import HeaderRow from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="home">
	<HeaderRow slot="header">
		<div slot="left">
			<strong>froppii.dev</strong>
		</div>

		<StopIndicator
			slot="center"
  			stops={["/", "/about", "/projects", "/blog", "/contact"]}
			links={["/", "/about", "/projects", "/blog", "/contact"]}
			current={Astro.url.pathname}
		/>

		<div slot="right">
			<span>v1.0</span>
		</div>
	</HeaderRow>
	<h1>froppii.dev</h1>
	<p>
		hi im darlene, a 17 y/o from indonesia! i mainly go as froppii but you might also know me as frosty and many more! in my spare time, you can find me making games, coding sites, doing art, and jamming to music!
	</p>
	<p>
		p.s. you should check out the <a href="/board">board</a>!
	</p>
</Layout>

