---
import Layout from '../layouts/Layout.astro';
---

<Layout title="projects">
    <main>
        <h1>projects</h1>
        <p>
            here are some of the projects i've worked on/am working on! all of them are open source so feel free to check out the code(the codes bad though) :)
        </p>

        <h2>games</h2>
        <ul>
            <li><a href="
        </ul>

        <h2>websites</h2>
        <ul>
            <li><a href="https://froppii.dev">froppii.dev</a> - my personal website (you're here!) built with astro.</li>
        </ul>
    </main>