<h2>friends!</h2>
<section class="buttons">
    <a href="https://aconlin.com">
        <img src="/buttons/acon-gets-a-button-animated.gif" alt="acon">
    </a>
    <a href="https://gideon.sh">
        <img src="/buttons/neocat.gif" alt="gideon">
    </a>
    <a href="https://parkalex.dev">
        <img src="/buttons/alexp.png" alt="alex">
    </a>
    <a href="https://saahild.com">
        <img src="/buttons/neon.gif" alt="neon">
    </a>
    <a href="https://cutiesin.tech">
        <img src="https://cutiesin.tech/88x31/junya.gif" alt="junya">
    </a>
    <a href="https://phthallo.com">
        <img src="/buttons/phthallo.png" alt="phthallo">
    </a>
</section>

<style>
    .buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
    }

    .buttons img {
        width: 88px;
        height: 31px;
        display: block;
        image-rendering: pixelated;
    }

</style>