---
const { children } = Astro.props;
---

<div class="center">
    <slot />
</div>

<style>
  .center {
    box-sizing: content-box;
    margin-inline: auto;
    overflow: visible;
    width: calc(100% - (var(--space-xl) * 2));
    max-inline-size: 650px;
    padding-inline: 25px;
  }
</style>