---
interface Props {
    title: string;
    logo: string;
    alt?: string;
}

const { title, logo, alt} = Astro.props;
---

<div class="page-info">
    <div class="page-title">{title}</div>

    {subtitle && (
        <div class="page-subtitle">{subtitle}</div>
    )}
</div>