---
import Footer from "../components/Footer.astro"
import Center from "../components/Center.astro"
import "../styles/global.css";

interface Props {
    title: string;
    description?: string;
    ogImage?: string;
}

const { title, description, ogImage } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>froppii - {title}</title>
        <link rel="stylesheet" href="/styles/global.css" />
    </head>

    <body>
        <Center>
            <slot name="header" />

            <main class="main-content">
                <slot />
            </main>

            <Footer />
        </Center>
    </body>
</html>
